body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  font-size: 16px;
  background-color: #fafafa;
  color: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  border-radius: 10px;
  padding: 8px;
  border: none;
  width: 184px;
  margin-bottom: 8px;
}

input[type=submit]{
  max-width: 120px;
  border-radius: 20px;
  padding-top: 8px;
  margin-top: 8px;
  font-weight: 600;
  background-color: #D07C49;
}

.wrapper{
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.wrapper-admin{
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.form-container{
  margin: auto;
  background-color: #499DD0;
  padding: 40px 80px;
  border-radius: 20px;
}

.form-button-wrapper{
  text-align: center;
}

.loader-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #014748;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0%  { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.input-txt-with-label{
  display: flex;
  flex-direction: column;
}

.input-txt-with-label label{
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 4px;
}

.input-txt-with-label input {
  width: 300px;
}

.row-baseline{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}