@import '../../../styles/main';


.login{
  display: flex;
  height: 100vh;

  &__first-col{
    width: 544px;
    padding: 80px 48px 0 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__second-col{
    width: 100%;
    @include image-background('login_col2.jpg');
  }

  &__form-container{
    padding-top: 80px;
  }
}