@import '../../../styles/main';


.create-place{
  @include image-background('login_col2.jpg');
  min-height: 100vh;

  &__form-container{
    padding: 48px 80px;
    margin: auto;
  }

  &__card{
    @extend %card;
    margin: 0 auto;
    width: 1020px;
  }

  &__row{
    display: flex;
    & *:nth-child(2){
      margin-left: 24px;
    }
  }

  &__open-time{
    display: flex;
    flex-wrap: wrap;

    & *:nth-child(3n+2){
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}