
.create-place{
  background: url('../../login/styles/login_col2.jpg');
  background-repeat: no-repeat;

  &__form-container{
    padding: 48px 80px;
    margin: auto;
  }

  &__card{
  background: #fff;
  border-radius: 8px;
  padding: 48px;
  box-shadow: 0px 0px 10px 10px rgba(0.1, 0, 0, 0.1);
  }

  &__row{
    display: flex;
    & *:nth-child(2){
      margin-left: 24px;
    }
  }

  &__open-time{
    display: flex;
    flex-wrap: wrap;

    & *:nth-child(3n+2){
      margin-left: 24px;
      margin-right: 24px;
    }
  }
}